@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome</h1>
    <h5 class="display-4">Expense Management Application</h5>
    <br />
    <p>Create, Read, Update & Delete Your Expenses...</p>
</div>
