@model UserProfile

@{
	Layout="_LayoutUserProfile";
	ViewData["Title"]="Login";
}

<form method="post" asp-action="Login">
	<div class="container align-content-center">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>

		<p><b>@ViewBag.LoginStatus</b><p>
		<br />

		<div class=row>
			<div class="col-4">
				<label asp-for="Email"></label>
				<input asp-for="Email" type="email" class="form-control" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
		</div>
		<br />

		<div class=row>
			<div class="col-4">
				<label asp-for="Password"></label>
				<input asp-for="Password" type="password" class="form-control" />
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>
		</div>
		<br />

		<div class="w-12 btn-group" role="group">
			<input type="submit" class="btn btn-primary mx-1" value="Login" />
			<a asp-controller="UserProfile" asp-action="Registration" class="btn btn-success mx-1">Registration</a>
		</div>		
	</div>

</form>