@model UserProfile

@{
	Layout="_LayoutUserProfile";
	ViewData["Title"]="Login";
}

<form method="post" asp-action="Registration">
	<div class="container align-content-center">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>

		<div class=row>
			<div class="col-4">
				<label asp-for="FirstName"></label>
				<input asp-for="FirstName" class="form-control" />
				<span asp-validation-for="FirstName" class="text-danger"></span>
			</div>
		</div>
		<br />

		<div class=row>
			<div class="col-4">
				<label asp-for="LastName"></label>
				<input asp-for="LastName" class="form-control" />
				<span asp-validation-for="LastName" class="text-danger"></span>
			</div>
		</div>
		<br />

		<div class=row>
			<div class="col-4">
				<label asp-for="Email"></label>
				<input asp-for="Email" type="email" class="form-control" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
		</div>
		<br />

		<div class=row>
			<div class="col-4">
				<label asp-for="Password"></label>
				<input asp-for="Password"  type="password" class="form-control" />
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>
		</div>
		<br />

		<div class="w-12 btn-group" role="group">
			<input type="submit" class="btn btn-primary mx-1" value="Register" />
			<a asp-controller="UserProfile" asp-action="Login" class="btn btn-secondary mx-1">Cancel</a>
		</div>		
	</div>

</form>